<h1 class="text-center mt-4">
    Đăng kí
</h1>
<div class="container container-register">
    <form method="POST" >
        <div class="form-floating mb-3">
            <input name="firstName"  class="form-control" id="floatingInput" placeholder="name@example.com" value='{{firstName}}' required="required">
            <label for="floatingInput">First Name</label>
        </div>
        <div class="form-floating mb-3">
            <input name="lastName"  class="form-control" id="floatingPassword" placeholder="Password" value='{{lastName}}' required="required">
            <label for="floatingPassword">Last Name</label>
        </div>
        <div class="form-floating mb-3">
            <input name="MSSV"  class="form-control" id="floatingInput" placeholder="MSSV" value='{{MSSV}}' >
            <label for="floatingInput">MSSV</label>
        </div>
        <div class="form-floating mb-3 ">
            <input name="dob" type="date"  class="form-control" id="floatingInput" placeholder="MSSV" value='{{dob}}' >
            <label for="floatingInput">Ngày sinh</label>
        </div>
        <div class="input-group  mb-3">
            <select class="form-select" name="gender" required="required">
                <option selected> --- Giới tính ---</option>
                <option value="M">Nam</option>
                <option value="F">Nữ</option>
                <option value="O">Khác</option>
            </select>
        </div>
        <div class="form-floating mb-3">
            <input name="SĐT"  class="form-control" id="floatingInput" placeholder="SĐT" value='{{SĐT}}' >
            <label for="floatingInput">SĐT</label>
        </div>
        <div class="form-floating mb-3">
            <input name="address"  class="form-control" id="floatingInput" placeholder="Address" value='{{address}}' >
            <label for="floatingInput">Địa chỉ</label>
        </div>
        <div class="form-floating mb-3">
            <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" value='{{email}}' required="required">
            <label for="floatingInput">Email address</label>
        </div>
        {{#if err}}
        <div class="alert alert-danger" role="alert">
            {{err}}
        </div>
        {{/if}}
        <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password"  value='{{password}}' required="required">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="group-btn">
            <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="{{idModel}}">Submit</button>
            <a href="/auth/login" class="btn btn-success mt-3" >Login</a>
        </div>
    </form>
    {{!-- Toast- Noti --}}
   {{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> --}}
  {{!-- Launch demo modal
    </button> --}}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Đăng kí thành công!
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="/auth/login"  class="btn btn-primary">Login</a>
        </div>
        </div>
    </div>
    </div>
</div>