<h1 class="text-center mt-4">
    Register
</h1>
<div class="container container-register">
    <form method="POST" >
        <div class="form-floating mb-3">
            <input name="firstName"  class="form-control" id="floatingInput" placeholder="name@example.com" value='{{firstName}}' required="required">
            <label for="floatingInput">First Name</label>
        </div>
        <div class="form-floating mb-3">
            <input name="lastName"  class="form-control" id="floatingPassword" placeholder="Password" value='{{lastName}}' required="required">
            <label for="floatingPassword">Last Name</label>
        </div>
        <div class="form-floating mb-3">
            <input name="MSSV"  class="form-control" id="floatingInput" placeholder="MSSV" value='{{email}}' required="required">
            <label for="floatingInput">MSSV</label>
        </div>
        <div class="form-floating mb-3">
            <input name="SĐT"  class="form-control" id="floatingInput" placeholder="SĐT" value='{{email}}' >
            <label for="floatingInput">SĐT</label>
        </div>
        <div class="form-floating mb-3">
            <input name="address"  class="form-control" id="floatingInput" placeholder="Address" value='{{email}}' >
            <label for="floatingInput">Địa chỉ</label>
        </div>
        <div class="form-floating mb-3">
            <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" value='{{email}}' required="required">
            <label for="floatingInput">Email address</label>
        </div>
        {{#if err}}
        <div class="alert alert-danger" role="alert">
            {{err}}
        </div>
        {{/if}}
        <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password"  value='{{password}}' required="required">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="group-btn">
            <button class="btn btn-primary mt-3">Submit</button>
            <a href="/auth/login" class="btn btn-success mt-3">Login</a>
        </div>
    </form>
</div>