<div class="btn-group mt-4 btn-group-category" role="group" aria-label="Basic outlined example">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Thể loại
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {{#each types}}
            <li><a class="dropdown-item" href="/search/category/{{this.name}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div>
  <a href="/search/author" type="button" class="btn btn-category btn-outline-primary">E-Book</a>

  <a href="/search/author" type="button" class="btn btn-category btn-outline-primary">Tác giả</a>
  <a href="/search/year" type="button" class="btn btn-category btn-outline-primary">Năm xuất bản</a>
</div>
<div class="container">
    <div class="mt-3 mb-3 d-flex text-center">
        <h2 class="category-title">
            {{title}}
        </h2>
        <h2>
            -({{total}})
        </h2>
    </div>
    <div class="row gx-4 gy-4">
        {{#each data}}
        <div class="col-3">
            <div class="card card-category" >
                {{#if this.url}}
                <img src="{{this.url}}" class="card-img-top card-img-category" alt="img">
                {{else}}
                <img src="/img/biasach.jpg" class="card-img-top card-img-category" alt="img">
                {{/if}}
                <div class="card-body">
                    {{#if this.name}}
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href='/search/detail/{{this.titleID}}' class="btn btn-primary">Xem thông tin</a>
                    {{else}}
                    <h5 class="card-title">{{this.lastName}} {{this.firstName}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href='/search/{{this.authorID}}' class="btn btn-primary">Các tác phẩm</a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{!-- <script>
    const btns = document.querySelectorAll('.btn-category')
    const title = document.querySelector('.category-title').innerText
    for(let i = 0 ; i < btns.length; i++) {
        if(btns[i].innerText == title){
            btns[i].classList.add('active')
        }
    }
</script> --}}