<div class="container">
    <h1 class="mt-3 mb-3">
        {{name}} ({{total}})
    </h1>
    <div class="row gx-4 gy-4">
        {{#each data}}
        <div class="col-2">
            <div class="card" >
                 {{#if this.url}}
                <img src="{{this.url}}" class="card-img-top" alt="img">
                {{else}}
                <img src="/img/biasach.jpg" class="card-img-top" alt="img">
                {{/if}}
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text" style="height: 50px; overflow: hidden">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href='/search/detail/{{this.titleID}}' class="btn btn-primary">Xem thông tin</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>