<div class="container container-detail">
    <div class="row">
        <div class="col-9 content">
            <div class="row content-top">
                <div class="col-4 image">
                    {{#if book.title.url}}
                    <img src="{{book.title.url}}" alt="">
                    {{else}}
                    <img src="https://www.dtv-ebook.com/images/files_2/2021/082021/bi-quyet-hoc-nhanh-nho-lau.jpg" alt="">
                    {{/if}}
                </div>
                <div class="col-8 title">
                    <div class="title-body">
                        <h4 class="name text-center">
                        {{book.title.name}}
                        </h4>
                        <ul class="list">
                            <li class="item">
                                <span>Tác giả: </span>
                                <a href="#" class="item-infor">{{book.title.[author.lastName]}} {{book.title.[author.firstName]}} </a>
                            </li>
                            <li class="item">
                                <span>Thể loại: </span>
                                <a href="#" class="item-infor">{{book.title.[type.name]}}</a>
                            </li>
                            <li class="item">
                                <span>Lượt mượn: </span>
                                <a href="#" class="item-infor">1202</a>
                            </li>
                            <li class="item">
                                <span>Số lượng: </span>
                                <a id="quantity-detail-book" href="#" class="item-infor">{{book.title.quantityFt}}</a>
                            </li>
                            <li class="item">
                                <span>Vị trí: </span>
                                <a href="#" class="item-infor">{{book.title.[position.area]}}-{{book.title.[position.shelf]}}</a>
                            </li>
                            <li class="item">
                                <span>Nhà xuất bản: </span>
                                <a href="#" class="item-infor">
                                    {{book.title.[publisher.name]}}
                                </a>
                            </li>
                            <li class="item">
                                <span>Ngôn ngữ: </span>
                                <a href="#" class="item-infor">{{book.title.[language.name]}}</a>
                            </li>
                        </ul>
                        <div class="btn-group1">
                            {{#if book.btnFavorite}}
                            <button id="btn-favorite"  class="btn btn-danger" data-id="{{book.title.titleID}} ">Thêm vào danh sách yêu thích</button>
                            {{else}}
                            <button id="btn-favorite"  class="btn btn-danger" data-id="{{book.title.titleID}}" disabled>Thêm vào danh sách yêu thích</button>
                            {{/if}}
                            <button id="btn-borrow"  class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Mượn</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row content-image">
                <img src="https://www.dtv-ebook.com/images/banner/azbooks.jpg" alt="image">
            </div>
            {{!-- Cung the loai --}}
            <h2 class="theloai">Cùng thể loại</h2>
            <div class="content-slider row">
                    {{#each book.list}}
                    <div class="col-3 card-item">
                        {{#if this.url}}
                        <div class="card-image">
                            <img src="{{this.url}}"  alt="image"/>
                        </div>
                        {{else}}
                        <div class="card-image">
                            <img src="https://www.dtv-ebook.com/cache/images/10121/185x217//images/files_2/2019/cam-nang-tu-duy-hoc-tap-va-nghien-cuu-richard-paul-&-linda-elder.jpg"  alt="..."/>
                        </div>
                        {{/if}}
                        <div class="card-body">
                            <a href="/search/detail/{{this.titleID}}" class="card-title">{{this.name}}</a>
                        </div>
                    </div>
                    {{/each}}
            </div>
        </div>
        {{!-- Xem nhieu nhat --}}
        <div class="col-3 new">
            <div class="new-body">
                <div class="new-title theloai">
                    Xem nhiều nhất
                </div>
                <ul class="list">
                    {{#each book.news}}
                    <li class="item">
                        {{#if this.url}}
                        <img src="{{this.url}}" alt="" class="item-img">
                        {{else}}
                        <img src="https://www.dtv-ebook.com/cache/images/1255/78x126/images/truyen-online/ebook-David-Copefield-full-prc-pdf-epub.jpg" alt="" class="item-img">
                        {{/if}}
                        <a href="/search/detail/{{this.titleID}}" class="item-name">{{this.name}}</a>
                        <h5 class="view">
                            {{this.quantity}} lượt
                        </h5>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

   <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <form method="POST" action="/borrow/{{book.title.titleID}}" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận thông tin mượn sách</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-2">Tên sách: 
                        <input value="{{book.title.name}}" class="input-modal-borrow" >
                    </div>
                    <div class="mb-2">Mã quyển: 
                        <input name="bookID" value="{{bookID}}" class="input-modal-borrow" >
                    </div>
                    <div class="mb-2">Số lượng: <b>1 </b> quyển</div>
                    <div class="mb-2">Ngày mượn: 
                        <input  name="date" id="" value="{{book.date}}" class="input-modal-borrow" >
                    </div>
                    <div class="mb-2">Thời hạn: <b>3 tháng</b> kể từ ngày mượn</div>
                    <div class="mb-2">Hạn trả dự kiến: 
                        <input  name="returnDate" id="" value="{{book.returnDate}}" class="input-modal-borrow" >
                    </div>
                    <div class="mb-2">Người mượn: <b>{{this.user.lastName}} {{this.user.firstName}}</b></div>
                    <div class="mb-2 ">Số điện thoại: <b>{{this.user.SĐT}} </b></div>
                    <div class="mb-2">--------</div>
                    <div class="mb-2"><b>Lưu ý: </b></div>
                    <div>1: Yêu cầu của bạn cần được chấp thuận bởi thủ thư, hãy chờ thông báo và làm theo hướng dẫn</div>
                    <div>2: Bảo quản sách và trả đúng thời hạn quy định, Vui lòng xem lại quy định <a href="/tutorial#regulation" class="text-primary">tại đây</a></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button class="btn btn-primary">Xác nhận</button>
                </div>
            </form>
        </div>
    </div>
<form name="form-favorite" method="POST" ></form>

<script>
    const btnFavorite = $('#btn-favorite')
    const formFavorite = document.forms['form-favorite']
    
    const titleID = btnFavorite.data('id')

    const btnBorrow = $('#btn-borrow')
    const quantity = $('#quantity-detail-book')
    const quan = Number(quantity.text())
    if(quan < 1){
        btnBorrow.attr('disabled', true)
    }

    btnFavorite.click(function() {
        formFavorite.action = '/privacy/favorite/'+titleID
        formFavorite.submit()
    }) 

</script>
