<div class="container">
    <h1 id="title" class="mt-5" data-type="{{this.titleID}}">Thông tin chi tiết</h1>
    <h2></h2>
    <form  method="POST" action="" class="mt-5" id="form">
        {{!-- Book --}}
        <div class="row mt-3">
            <div>
                <h3 class="mb-3">Thông tin sách</h3>
            </div>
            <div class="col-2">
                <label class="form-label">Mã sách</label>
                <input class="form-control" value="{{books.titleID}}" disabled>
            </div>
            <div class="col-6">
                <label class="form-label">Tên sách</label>
                <input name="name"  class="form-control activeInput" placeholder="Name..." value="{{books.name}}" disabled required>
            </div>
            <div class="col-4">
               <label for="inputType" class="form-label">Thể loại</label>
                <select name="type" id="inputType" class="form-select activeInput" data-type="{{books.typeID}}" disabled required>
                    <option value="" >------</option>
                    {{#each types}}
                    <option value="{{this.typeID}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-2 mt-2">
               <label for="inputLanguage" class="form-label">Ngôn ngữ</label>
                <select name="language" id="inputLanguage" class="form-select activeInput" data-type="{{books.languageID}}" disabled required>
                    <option value="" >------</option>
                    {{#each language}}
                    <option value="{{this.languageID}}" >{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-2 mt-2">
               <label for="inputPosition" class="form-label">Vị trí</label>
                <select name="position" id="inputPosition" class="form-select activeInput" data-type="{{books.positionID}}" disabled required>
                    <option value="" >------</option>
                    {{#each positions}}
                    <option value="{{this.positionID}}" >{{this.area}}-{{this.shelf}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-2 mt-2">
                <label class="form-label">Số lượng ban đầu</label>
                <input name="quantity"  class="form-control activeInput" value="{{books.quantity}}"disabled>
            </div>
            <div class="col-2 mt-2">
                <label class="form-label">Số lượng hiện có</label>
                <input  class="form-control activeInput" disabled>
            </div>
             <div class="col-2 mt-2">
                <label class="form-label">Số sách đang mượn</label>
                <input  class="form-control activeInput" disabled>
            </div>
            <div class="col-8 mt-2">
                <label >Comment</label>
                <textarea name="summary" class="form-control activeInput" disabled></textarea>
            </div>
        </div>
        {{!-- Author --}}
        <div class="row mt-3">
            <div class="d-flex align-items-center">
                <h3 class="me-3">Tác giả</h3>
                <div class="btn-group mt-3 col-1 mb-3 me-3">
                    <a href="/manage-books/author" class="btn btn-success">Thêm mới</a>
                </div>
                <div class="btn-group mt-3 col-1 mb-3">
                    <a href="/manage-books/author/{{books.authorID}}" class="btn btn-primary">Chỉnh sửa</a>
                </div>
            </div>

            <div class="col-2">
                <label class="form-label">Mã tác giả</label>
                <input  name="authorID" class="form-control activeInput" value="{{books.authorID}}" disabled>
            </div>
            <div class="col-3">
                <label class="form-label">Tên</label>
                <input  class="form-control authorFN" value="{{books.[author.firstName]}}" disabled>
            </div>
            <div class="col-3">
                <label class="form-label">Họ</label>
                <input  class="form-control authorLN" value="{{books.[author.lastName]}}" disabled>
            </div>
            <div id="checkAuthor" class="alert alert-danger mt-3 col-6" role="alert">
                Mã tác giả không chính xác! Vui lòng kiểm tra lại.
            </div>
        </div>
        {{!-- Puslisher --}}
        <div class="row mt-3">
            <div class="d-flex align-items-center">
                <h3 class="me-3">Nhà xuất bản</h3>
                <div class="btn-group mt-3 col-1 mb-3 me-3">
                    <a href="/manage-books/publisher" class="btn btn-success">Thêm mới</a>
                </div>
                <div class="btn-group mt-3 col-1 mb-3 ">
                    <a href="/manage-books/publisher/{{books.publisherID}}" class="btn btn-primary">Chỉnh sửa</a>
                </div>
            </div>
            <div class="col-2">
                <label class="form-label">Mã nhà xuất bản</label>
                <input name="publisherID" class="form-control activeInput" disabled value="{{books.publisherID}}">
            </div>
            <div class="col-3">
                <label class="form-label">Tên nhà xuất bản</label>
                <input  class="form-control publisherName" disabled value="{{books.[publisher.name]}}">
            </div>
            <div class="col-5">
                <label class="form-label">Đia chỉ</label>
                <input  class="form-control publisherAddress" disabled value="{{books.[publisher.address]}}">
            </div>
            <div id="checkPublisher" class="alert alert-danger mt-3 col-6" role="alert">
                Mã nhà xuất bản không chính xác! Vui lòng kiểm tra lại.
            </div>
        </div>

        <div class="btn-group mt-3 col-auto mt-5">
            {{#if isAddPage}}
            <button id="btnSave" type="button" class="btn btn-warning ">Lưu lại</button>
            {{else}}
            <a href="/manage-books/add" class="btn btn-success me-2">Thêm</a>
            <button type="button" class="btn btn-warning me-2 btnSubmitBook">Lưu lại</button>
            <button type="button" class="btn btn-primary me-2 btnEditBook">Chỉnh sửa</button>
            <button type="button" class="btn btn-danger me-2 btnDeleteBook" data-bs-toggle="modal" data-bs-target="#exampleModal">Xóa</button>
            {{/if}}
        </div>
    </form>

     <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa ? 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary btn-Modal">Xác nhận</button>
            </div>
            </div>
        </div>
    </div>
</div>

{{!-- Form -Delete --}}
<form method="POST" action="" id="form-delete-book"></form>

{{!-- Active input, button --}}
<script>
    const inputs = $('#form input')
    const selects = $('select')
    const btns = $('#form .btn')
    const textareas = $('textarea')
    const title = $('#title')
    const type = title.data('type')

    if(type=='add'){
    selects.each(function(i) {
        $(this).removeAttr('disabled', true)
    })
    inputs.each(function(i) {
        $(this).removeAttr('disabled', true)
    })
    textareas.each(function(i) {
        $(this).removeAttr('disabled', true)
    })
    }
    
    {{!-- inputs.each(function(i) {
        $(this).attr('disabled', true)
    }) --}}
    {{!-- selects.each(function(i) {
        $(this).attr('disabled', true)
    }) --}}
    {{!-- btns.each(function(i) {
        $(this).attr('disabled', true)
    }) --}}
    {{!-- inputs.each(function(i) {
        $(this).attr('disabled', true)
    }) --}}
    {{!-- selects.each(function(i) {
        $(this).attr('disabled', true)
    }) --}}
</script>

{{!-- Value Select --}}
<script>
    const inputLanguageID = $('#inputLanguage')
    const optionsLanguage = $('#inputLanguage option')
    const languageID = inputLanguageID.data('type')

    const selectType = $('#inputType')
    const typeID = selectType.data('type')
    const optionsType = $('#inputType option')

    const selectPosition = $('#inputPosition')
    const positionID = selectPosition.data('type')
    const optionsPosition = $('#inputPosition option')

    optionsType.each(function(i){
        if($(this).val().trim() == typeID.trim()){
           $(this).prop('selected', true)
        }
    })
    optionsLanguage.each(function(i){    
        if($(this).val().trim() == languageID.trim()){
           $(this).prop('selected', true)
        }
    })
    optionsPosition.each(function(i){    
        if($(this).val().trim() == positionID.trim()){
           $(this).prop('selected', true)
        }
    })
</script>

{{!-- Fetch data, check author, publisher input --}}
<script>
    async function fetchAuthor() {
    const response = await fetch('http://localhost:3000/author');
    const data = await response.json()
        return data
    }
    async function fetchPublisher() {
    const response = await fetch('http://localhost:3000/publisher');
    const data = await response.json()
        return data
    }

    const form = $('#form')
    const btnSave = $('#btnSave')

    const inputAuthor = $("input[name*= 'authorID']")
    const alertCheckAuthor = $('#checkAuthor')
    const authorLN = $('.authorLN')
    const authorFN = $('.authorFN')
    alertCheckAuthor.hide()
    authorLN.attr('disabled', true)
    authorFN.attr('disabled', true)

    const inputPublisher = $("input[name*= 'publisherID']")
    const alertCheckPublisher = $('#checkPublisher')
    const pubName = $('.publisherName')
    const pubAddress = $('.publisherAddress')
    alertCheckPublisher.hide()
    pubName.attr('disabled', true)
    pubAddress.attr('disabled', true)


    fetchAuthor()
    .then(res => {
        inputAuthor.focusout(function() {
        const authorID = $(this).val()
        let author
        if(authorID == ''){
            author = true
        }
        else{
            author = res.data.find( item => {
                return item.authorID.trim() == authorID.trim()
            })
        }
        if(!author){
            alertCheckAuthor.show(300)
            btnSave.attr('disabled', true)
        }
        else{
            alertCheckAuthor.hide()
            btnSave.removeAttr('disabled', true)
            authorFN.val(author.firstName)
            authorLN.val(author.lastName)
        }
    })
    })

    fetchPublisher()
    .then( res => {
        inputPublisher.focusout( function() {
        const publisherID = $(this).val()
        let publisher
        if(publisherID == ''){
            publisher = true
        }
        else{
            publisher = res.data.find( item => {
                return item.publisherID.trim() == publisherID.trim()
            })
        }
        if(!publisher){
            alertCheckPublisher.show(300)
            btnSave.attr('disabled', true)
        }
        else{
            alertCheckPublisher.hide()
            btnSave.removeAttr('disabled', true)
            pubName.val(publisher.name)
            pubAddress.val(publisher.address)
        }
    })
    })

    btnSave.on('click', function() {
        form.attr('action', '/manage-books/create')
        form.submit()
    })
</script>

<script>
    const btnEdit = $('.btnEditBook')
    const btnSubmitBook = $('.btnSubmitBook')
    const inputsActive = $('.activeInput')
    const formEditBook = $('#form')
    const bookID = $('#title').data('type')

    const formDeleteBook = $('#form-delete-book')
    const deleteBtn = $('.btn-Modal')

    btnEdit.on('click', function() {
        inputsActive.removeAttr('disabled', true)
    })
    btnSubmitBook.on('click', function() {
        formEditBook.attr('action', `/manage-books/edit/${bookID}`)
        form.submit()
    })

    deleteBtn.on('click', function() {
        formDeleteBook.attr('action', `/manage-books/delete/${bookID}`)
        formDeleteBook.submit()
    })
</script>