<div class="container container-manage-book">
    <h1 class="pt-3 mb-3"> Quản lí sách</h1>
    <div class="mb-3">
        <a href="/manage-books/add" class="btn btn-success">Thêm sách</a>
        <a href="/manage-books/author" class="btn btn-success">Thêm tác giả</a>
        <a href="/manage-books/publisher" class="btn btn-success">Thêm nhà xuất bản</a>
        <a href="/manage-books/statistic" class="btn btn-warning ms-2">Thống kê</a>
    </div>
    <div class="search-form">
        <form method="POST" class="input-group mb-3">
            <span class="input-group-text">Tên</span>
            <input value="{{bookName}}" name="bookName" type="text" class="form-control" placeholder="Book name..." aria-label="Username">
            <span class="input-group-text">Tác giả</span>
            <input value="{{authorName}}"  name="authorName" type="text" class="form-control" placeholder="Author..." aria-label="Server">
            <select id="selectTypes" data-type="{{typeID}}"  name="typeID" class="form-select" aria-label="Default select example">
                <option value="" >Thể loại</option>
                {{#each types}}
                <option value="{{this.typeID}}">{{this.name}}</option>
                {{/each}}
            </select>
            <select id="selectPub" data-type="{{pubID}}"  name="pubID" class="form-select" aria-label="Default select example">
                <option value="" >Nhà xuất bản</option>
                {{#each publishers}}
                <option value="{{this.publisherID}}">{{this.name}}</option>
                {{/each}}
            </select>
            <button class="btn btn-success">Search</button>
            <a href="/manage-books" class="btn btn-primary">Reset</a>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th colspan="2">Tên</th>
            <th colspan="2">Tác giả</th>
            <th colspan="1">Thể loại</th>
            <th colspan="1">Năm xuất bản</th>
            <th colspan="1">Nhà xuất bản</th>
            <th colspan="1">SL ban đầu</th>
            <th colspan="1">SL thực tế</th>
            <th colspan="3">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each books}}
            <tr>
            <th >{{sum @index 1}}</th>
            <td colspan="2"><a href="/manage-books/{{this.title_id}}">{{this.title_name}}</a></td>
            <td colspan="2"><a href="/manage-books/author/{{this.author_id}}">{{this.author_last_name}} {{this.author_first_name}}</a></td>
            <td colspan="1">{{this.type_name}}</td>
            <td>{{this.publish_date}}</td>
            <td><a href="/manage-books/publisher/{{this.publisher_id}}">{{this.publisher_name}}</a></td>
            <td>{{this.quantity}}</td>
            <td>{{this.quan_in_lib}}</td>
            <td colspan="3" class="btn-group">
                <a href="/manage-books/{{this.title_id}}" class="btn btn-warning">Chi tiết</a>
            </td>
            </tr>
            {{else}}
            <tr>
            <th></th>
            <td colspan="100"> Không có thông tin phù hợp!</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    $(document).ready( function () {
        const selectType = $('#selectTypes')
        const optionsType = $('#selectTypes option')
        const typeID = selectType.data('type')

        const selectPub = $('#selectPub')
        const optionsPub = $('#selectPub option')
        const pubID = selectPub.data('type')

        optionsType.each(function(i) {
            if($(this).val().trim() == typeID){
                    $(this).prop('selected', true)
            }
        })
        optionsPub.each(function(i) {
            if($(this).val().trim() == pubID){
                    $(this).prop('selected', true)
            }
        })
    })
</script>