<div class="container">
    <h1 class="mt-3 mb-3">
        Thống kê sách thư viện
        <i class="fas fa-database"></i>
    </h1>
    <ul>
        <li class="mb-2">
            <h5 class="text-danger">
                Tổng số đầu sách
            </h5>
            <i class="fas fa-book"></i>
            <span>{{totalTitle}} đầu</span>
        </li>
        <li class="mb-2">
            <h5 class="text-danger">Tổng số quyển sách</h5>
            <i class="fas fa-book-open"></i>
            <span>{{totalBook}} quyển</span>
        </li>
        <li class="mb-2">
            <h5 class="text-danger">Tổng số quyển hiện có</h5>
            <i class="fas fa-book-open"></i>
            <span>{{totalBookInLib}} quyển</span>
        </li>
        <li class="mb-2">
            <h5 class="text-danger">Tổng số quyển đang mượn</h5>
            <i class="fas fa-book-open"></i>
            <span>{{totalBorrow}} quyển</span>
        </li>
        <li class="mb-2">
            <h5 class="text-danger">Tổng số tác giả</h5>
            <i class="fas fa-user-tie"></i>
            <span>{{totalAuthor}} ông</span>
        </li>
        <li class="mb-2">
            <h5 class="text-danger">Tổng số thể loại</h5>
            <i class="fas fa-torah"></i>
            <span>{{totalType}} thể loại</span>
        </li>
        <li class="mb-2">
            <h5 class="text-danger">Tổng số nhà xuất bản</h5>
            <i class="fab fa-product-hunt"></i>
            <span>{{totalPub}} công ty</span>
        </li>
    </ul>
</div>