<div class="container">
    <h1 class="mt-3 mb-3">Thống kê sách thư viện</h1>
    <ul>
        <li class="mb-2">
            <h5 class="text-danger">Tổng số đầu sách</h5>
            <span>{{totalTitle}} đầu</span>
        </li>
        <li class="mb-2">
            <h5 class="text-danger">Tổng số quyển sách</h5>
            <span>{{totalBook}} quyển</span>
        </li>
        <li class="mb-2">
            <h5 class="text-danger">Tổng số quyển hiện có</h5>
            <span>{{totalBookInLib}} quyển</span>
        </li>
        <li class="mb-2">
            <h5 class="text-danger">Tổng số quyển đang mượn</h5>
            <span>{{totalBorrow}} quyển</span>
        </li>
        <li class="mb-2">
            <h5 class="text-danger">Tổng số tác giả</h5>
            <span>{{totalAuthor}} ông</span>
        </li>
        <li class="mb-2">
            <h5 class="text-danger">Tổng số thể loại</h5>
            <span>{{totalType}} thể loại</span>
        </li>
        <li class="mb-2">
            <h5 class="text-danger">Tổng số nhà xuất bản</h5>
            <span>{{totalPub}} công ty</span>
        </li>
    </ul>
</div>